/* src/styles/theme.css */
:root {
    /* Dark theme colors (default) */
    --color-background: #18181b;
    --color-text: #fff7ed;
    --color-accent: #e11d48;
    --color-highlight-bg: #1e3a8a;
    --color-highlight-text: #bef264;
    --font-background: url("https://i.gifer.com/ByRk.gif");
    --noise-filter: contrast(145%) brightness(650%) invert(100%);
}

/* Light theme colors */
.light {
    --color-background: #fff7ed;
    --color-text: #1d4ed8;
    --color-accent: #f43f5e;
    --color-highlight-bg: #1d4ed8;
    --color-highlight-text: #bef264;
    --font-background: url("https://media.giphy.com/media/YAxpwobytgjWgmIbP9/giphy.gif");
    --noise-filter: contrast(125%) brightness(400%) invert(0%);
}
